<%- include('partials/header') -%>
<%- include('partials/navbar') -%>



<div class="container">
    <h1>Gear and clothing recommendation for trail name</h1>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.flaticon.com/svg/static/icons/svg/2826/2826618.svg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hiking Boots</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut labore dicta,
                    adipisci sed similique odit sint mollitia ullam repellat enim nulla doloremque ipsa alias
                    dignissimos obcaecati animi necessitatibus in modi!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.flaticon.com/svg/static/icons/svg/2325/2325148.svg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Trekking Poles</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laudantium distinctio
                    et dolor debitis autem nesciunt vero architecto numquam in officiis iure repudiandae nobis sint
                    quibusdam maxime, quod nihil iste!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.flaticon.com/svg/static/icons/svg/3126/3126039.svg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jacket</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo dolores natus
                    deserunt eum adipisci, illo recusandae distinctio quasi libero, amet nostrum magnam in minima a, non
                    at maiores. Quibusdam?</p>
            </div>
        </div>
    </div>
</div>

<!-- https://getbootstrap.com/docs/4.0/components/card/-->


<%- include('partials/footer') -%>