<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>


    <h1>Nearby Trails</h1>

    <div class="container">
        <div class="d-flex justify-content-center">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Enter a location..">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div><br>

    <div class="card">
        <div class="card-header"><strong>Coastal Peak</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                  <strong>Location: </strong><div>101 North Peak Rd.</div>
                </div>
                <div class="col">
                    <strong>Distance: </strong><div>0.3 mi. away</div>
                    </div>
                <div class="col">
                <strong>Difficulty: </strong><div>EASY</div>
                </div>
                    <div class="col">
                        <strong>Est. Time: </strong><div>30 min.</div>
                        </div>
                        <div class="col">
                            <strong>Hike Length: </strong><div>1.0 mi.</div>
                            </div>
              </div>

          <br><a href="#" class="btn btn-primary" id="directions">Get Directions</a>
          <a href="#" class="btn btn-primary" id="gear"> Gear Recommendations</a>
        </div>
      </div><br>

</body>

</html>