<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<h1>Nearby Trails</h1>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Enter a location..">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>
</div><br>

<div class="card">
  <div class="card-header"><strong>Coastal Peak</strong></div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <strong>Location: </strong>
        <div>101 North Peak Rd.</div>
      </div>
      <div class="col">
        <strong>Distance: </strong>
        <div>0.3 mi. away</div>
      </div>
      <div class="col">
        <strong>Difficulty: </strong>
        <div>EASY</div>
      </div>
      <div class="col">
        <strong>Est. Time: </strong>
        <div>30 min.</div>
      </div>
      <div class="col">
        <strong>Hike Length: </strong>
        <div>1.0 mi.</div>
      </div>
    </div>

    <br><a href="#" class="btn btn-primary" id="directions">Get Directions</a>
    <button id="gear" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Gear Recommendations
    </button>
  </div>
</div><br>


<div>
  <%- include('partials/gearModal') -%>
</div>


<%- include('partials/footer') -%>