<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container-fluid nearby-view" id="nearby-view">
  <aside class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <%- include('partials/trails-search-form') -%>
    </div>
  </aside>

 Search results page
  <br>

</div>
<%- include('partials/footer') -%>